@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueLight.eot');
    src: url('HelveticaNeueLight.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueLight.woff2') format('woff2'),
        url('HelveticaNeueLight.woff') format('woff'),
        url('HelveticaNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeue-Medium.eot');
    src: url('HelveticaNeue-Medium.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeue-Medium.woff2') format('woff2'),
        url('HelveticaNeue-Medium.woff') format('woff'),
        url('HelveticaNeue-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('HelveticaNeueBold.eot');
    src: url('HelveticaNeueBold.eot?#iefix') format('embedded-opentype'),
        url('HelveticaNeueBold.woff2') format('woff2'),
        url('HelveticaNeueBold.woff') format('woff'),
        url('HelveticaNeueBold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

